.bird {
    @extend %block-view;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include media-tablet {
        display: block;
    }
}

.bird__image {
    width: 200px;
    @include media-tablet {
        width: 100%;
    }
}

.bird__species {
   margin-bottom: $block-padding / 3;
}

.bird__body {
    width: calc( 100% - 200px );
    padding-left: $block-padding;
    @include media-mobile {
        width: 100%;
        margin-top: $block-margin;
        padding-left: 0;
    }
}

.bird__title {
    font-size: $font-size-title;
    border-bottom: 1px solid $color-border;
    padding-bottom: $block-padding;
    margin-bottom: $block-padding;
}

.bird__description {
    flex-grow: 1;
    margin-top: $block-padding;
}

.bird__voice {
    width: 100%;
}