.bird {
    @extend %block-view;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include media-tablet {
        flex-direction: column;
    }
}

.bird__image {
    width: 200px;
    @include media-tablet {
        width: 100%;
    }
}

.bird__species {
   margin-bottom: $block-padding;

}

.bird__body {
    width: calc( 100% - 200px );
    padding: $block-padding;
}

.bird__title {
    font-size: $font-size-title;
    border-bottom: 1px solid $color-border;
    padding-bottom: $block-padding;
    margin-bottom: $block-padding;
}

.bird__description {
    flex-grow: 1;
}

.bird__voice {
    width: 100%;
}