.button {
    background-color: $color-accent;
    border: none;
    padding: $inside-padding;
    border-radius: 30px;
    padding: $inside-padding $inside-padding*2;
    text-transform: uppercase;
    font-family: $font;
    font-size: $font-size-uppercase + .5rem;
    font-weight: bold;
    color: $color-block;
    transition: all .3s;
    &:hover {
        background-color: lighten($color-accent, 10%);
    }
}

.controls {
    text-align: center;
    margin-bottom: $block-margin;
}